<div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="well well-lg">
        <h1 class="title">Chow Down</h1>
        <p>This app was inspired by the harsh reality we all live in and that is listening to friends, mums, dads, girlfriend, boyfriend, best-friends, collegues, and pets that they will eat anything. The choices are plentiful but deciding what to eat in a spur of a moment, this is where Chow Down can help. </p>
        <p>Chow Down has a number of highlights that can help the hungry user. If a decision can't be made, clicking on the main button will automatically find most of the closest restaurants within walking distance at your current location. Entering a cuisine type, or food type and clicking search will provide restaurants also within walking distance at your current location.</p>
        <p>Becoming a user of Chow Down as a user you can make bookings with restaurants that have registered with us. One of the awesome perks is that you can be randomly invited by restaurants with discounts or freebies.</p>
        <p>If you are a restaurant owner and want to generate brand awareness, get more customers and get reviewed, join Chow Down today. You will get connected with new customers looking to try out what you have to offer</p>

      </div>
    </div>
  </div>
</div>
