<div class="container">
  <div class="jumbotron">
    <h3 class="text-center">KEEP CALM</h3>
    <h5 class="text-center">AND</h5>
    <h1 class="text-center title">Chow Down</h1>
    <form class="" action="/chowdown" method="post">
      <div class="form-group text-center">
        <input type="text" class="form-control" name="search_input" value="" placeholder="Search">
        <p>If you can't decide what to eat, click below to find restaurants within walking distance away from you</p>
        <button class="btn btn-lg btn-danger">I'm ready to Chow Down</button>
      </div>
    </form>
  </div>
</div>
