<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Chow Down</h1>
    <form class="" action="/chowdown" method="post">
      <div class="form-group text-center">
        <input type="text" class="form-control" name="search_input" value="" placeholder="Search">
        <p></p>
        <button class="btn btn-lg btn-success">Search</button>
      </div>
    </form>
  </div>
</div>
