<div class="container">
  <div class="jumbotron">
    <h3 class="text-center">KEEP CALM</h3>
    <h5 class="text-center">AND</h5>
    <h1 class="text-center title">Chow Down</h1>
    <form class="" action="/chowdown" method="post">
      <input type="hidden" name="longnlat" value="" id="longlat">
      <div class="form-group text-center">
        <input type="text" class="form-control center_text" name="search_input" value="" placeholder="Type in the cuisine you are craving, or leave me blank and click the button">
        <p>If you can't decide what to eat, click below to find restaurants within walking distance away from you</p>
        <button class="btn btn-lg btn-warning" id="button_ready">Getting Your Location</button>
      </div>
    </form>
  </div>
</div>
