<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="well well-lg">
        <h1>User Registration</h1>
        <p>Get invited to restaurants with discounts</p>
        <p>Review restaurants</p>
        <p>Make reservations</p>
        <form class="" action="/user/registration" method="get">
          <button class="btn btn-default">SELECT</button>
        </form>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="well well-lg">
        <h1>Restaurant Registration</h1>
        <p>Invite customers to your restaurant</p>
        <p>Create promotions</p>
        <p>Manage your bookings</p>
        <form class="" action="/restaurant/registration" method="get">
          <button class="btn btn-default">SELECT</button>
        </form>
      </div>
    </div>
  </div>
</div>
